<!-- Hero Section-->
<header class="hero">
    <div class="container">
        <div class="hero-heading text-uppercase">Meals and grocery delivered.</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/packages">view packages</a>
    </div>
</header>
<!-- Services-->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">No cooking, just eating.</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="services-options">
                    <img class="mx-auto rounded-circle" src="/img/pick.jpg" alt="Pick" />
                    <h4>Pick</h4>
                    <p class="text-muted">100+ menu of all-natural dishes.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-options">
                    <img class="mx-auto rounded-circle" src="/img/heat.jpg" alt="Delivery" />
                    <h4>Heat</h4>
                    <p class="text-muted">Cooked & delivered.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-options">
                    <img class="mx-auto rounded-circle" src="/img/eat.jpg" alt="Dish" />
                    <h4>Eat</h4>
                    <p class="text-muted">Delicious & nutritious.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-options">
                    <img class="mx-auto rounded-circle" src="/img/repeat.jpg" alt="" />
                    <h4>Repeat</h4>
                    <p class="text-muted">Skip a week or cancel any time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Meals Section -->
<section class="page-section" id="meals">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Check our Menu</h2>
        </div>
        <div class="row">
            {{#each data}}
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="meals-item">
                    <a class="meals-link" data-toggle="modal" href="#mealsModal{{id}}">
                        <div class="meals-hover">
                            <div class="meals-hover-content"><i class="fas fa-search-plus fa-2x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{src}}" alt="{{title}}" />
                    </a>
                    <div class="meals-caption">
                        <div class="meals-caption-heading">{{title}}</div>
                        <div class="meals-caption-subheading text-muted"><strong>${{price}}</strong></div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Meals Modals-->
{{#each data}}
<div class="meals-modal modal fade" id="mealsModal{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Meal Details -->
                            <h2 class="text-uppercase">{{title}}</h2>
                            <img class="img-fluid d-block mx-auto" src="{{src}}" alt="{{title}}" />
                            <h3 class="text-uppercase">${{price}}</h3>
                            <ul class="list-inline">
                                <li><strong>Ingredients:</strong> {{ingredients}}</li>
                                <li><strong>Calories:</strong> {{values.calories}}</li>
                                <li><strong>Protein:</strong> {{values.protein}}</li>
                                <li><strong>Carbs:</strong> {{values.carbs}}</li>
                                <li><strong>Fats:</strong> {{values.fat}}</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
{{/each}}