<!-- Login Section -->
<section class="page-section">
    <div class="container">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" id="login_bgimage"></div>
                <div class="col-md-8 col-lg-6">
                    <div class="sign_form d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="sign_form-heading mb-4 text-center text-uppercase">Customer Login
                                    </h3>
                                    <form name="loginForm" action="/login" id="loginForm" method="POST">
                                        <div>
                                            <div class="sign_form-item">
                                                <a class="btn btn-dark btn-social mx-2" href="#!"><i
                                                        class="fab fa-facebook-f "></i></i></a>
                                                <a class="btn btn-dark btn-social mx-2" href="#!"><i
                                                        class="fab fa-google"></i></a>
                                                <a class="btn btn-dark btn-social mx-2" href="#!"><i
                                                        class="fab fa-twitter"></i></a>
                                                <a class="btn btn-dark btn-social mx-2" href="#!"><i
                                                        class="fab fa-linkedin-in"></i></a>

                                            </div>
                                            <div class="text-center">
                                                <p class="text-muted text-center">OR</p>
                                            </div>
                                        </div>
                                        <div class="form-label-group">
                                            <input type="email" id="email" class="form-control" name="email"
                                                autocomplete="email" placeholder="User email" value="{{form.email}}">
                                            <label for="email" class="text-muted">Email</label>
                                            {{#if emptyData.email }}
                                            <div class="alert alert-danger">{{emptyData.email.msg}}</div>
                                            {{/if}}
                                        </div>

                                        <div class="form-label-group">
                                            <input type="password" id="password" class="form-control" name="password"
                                                placeholder="User password" value="{{form.password}}">
                                            <label for="password" class="text-muted">Password</label>
                                            {{#if emptyData.password }}
                                            <div class="alert alert-danger">{{emptyData.password.msg}}</div>
                                            {{/if}}
                                        </div>
                                        <button
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit">Log In</button>
                                            {{#if invalidLogin }}
                                            <div class="alert alert-danger">{{invalidLogin}}</div>
                                            {{/if}}
                                        <div class="text-center">
                                            <a class="small text-muted" href="#">Forgot your password?</a></div>
                                        <div class="text-center"><span class="small text-muted">Not a
                                                member?
                                                <a class="text-muted" href="/register"><strong>Sign up
                                                        now</strong></a></span></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>